<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Autor Detail</h1>
    {% if autor %}
    <h2>Nombre del autor: {{ autor.nombre }}</h2>
    <p>ID del autor: {{ autor.id }}</p>
    {%else%}
    <p>No hay un usuario con ese ID</p>
    <p>Puedes probar de nuevo en la <a href="{%url 'books:autor_list'%}">lista de autores</a></p>
    {%endif%}
    
</body>
</html>